/* LOADER */
.Myloader {
  border: 2px solid transparent;
  border-radius: 50%;
  /* border-top: 2px solid #fa5b05; */
  width: 60px;
  height: 60px;
  animation: spin 0.5s linear infinite;
}

.ML16 {
  margin-left: 16%;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
